.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    width: 0 auto;
    padding: 0 2rem;
}

.container {
    padding: 1rem;
    justify-content: space-between;
}

.container h1{
    color: var(--neutral-light);
}

.line{
    margin-top: .5rem;
    padding: .2rem 1.5rem;
    width: 80px;
    height: 4px;
    background: var(--line);
}

.description{
    margin-top: 1rem;
    color: var(--typography-muted);
    max-width: 70ch;
    font-size: 1.2rem;
}

.divCard{
    margin-top: 1rem;
    background: var(--black-light);
    max-width: 400px;
    padding: 1.5rem;
    border-radius: 10px;
}

.divCard span{
    color: var(--strongColor);
}

.divCard .parrafo{
    padding-top: .5rem;
    color: var(--text-white-light);
}

@media (max-width: 768px) {
    .wrapper{
        flex-direction: column;
        padding: 0 2rem;
    }
}
