.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    max-width: auto;
    width: 100%;
    padding: 4rem 2rem;
    margin: 0 auto;
}

.container {
    flex: 1;
    max-width: 600px;
}

.cardsAbout{
    flex: 1;
    width: 100%;
}

.container h1{
    color: var(--neutral-light);
}

.line{
    margin-top: .5rem;
    padding: .2rem 1.5rem;
    width: 80px;
    height: 4px;
    background: var(--line);
}

.description{
    margin-top: 1rem;
    color: var(--typography-muted);
    max-width: 70ch;
    font-size: 1.2rem;
}

.divCard{
    margin-top: 1rem;
    background: var(--black-light);
    max-width: 400px;
    padding: 1.5rem;
    border-radius: 10px;
}

.divCard span{
    color: var(--strongColor);
}

.divCard .parrafo{
    padding-top: .5rem;
    color: var(--text-white-light);
}

@media (max-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        padding: 0 1rem;
    }

    .divCard {
        max-width: 100%;
        width: 100%;
    }
}
