.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  gap: 2rem;
  padding: 2rem;
}

.left{
  flex: 1;
}

.right {
  display: flex;
  justify-content: flex-start;
}

.mePhoto{
  border-radius: 30px;
  height: 500px;
  box-shadow: 0 0 80px 1px rgba(255, 255, 255, 0.5);
}

.strong{
  color: var(--strongColor);
}

.textBig{
  color: white;
  font-size: 6rem;
  max-width: 20ch;
}

.ctas{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.presentacion {
  color: var(--color-text);
  font-size: 25px;
  text-align: center;
  max-width: 50ch;
  box-sizing: border-box;
  padding: 0;
  padding: 3rem;
}

@media(max-width: 768px){
  .hero{
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .right{
    order: -1;
  }
  .presentacion{
    max-width: 50ch;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

  .mePhoto {
    margin: 0 auto 2rem auto;
    display: block;
  }
}

