.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100vh;
  gap: 2rem;
  padding: 2rem;
}

.left{
  flex: 1;
}

.rigth {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mePhoto{
  border-radius: 30px;
  height: 500px;
  box-shadow: 0 0 80px 1px rgba(255, 255, 255, 0.5);
}

.textBig{
  color: white;
  font-size: 6rem;
}

.presentacion {
  color: var(--color-text);
  text-align: center;
  max-width: 90ch;
  box-sizing: border-box;
  padding: 0;
}



@media(max-width: 768px){
  .hero{
    flex-direction: column;
    align-items: center;
  }

  .rigth{
    order: -1;
  }
  .presentacion{
    max-width: 100%;
    width: calc(100% - 2rem);
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

  .mePhoto {
    margin: 0 auto 2rem auto;
    display: block;
  }
}

