.proyectos {
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
img {
  border-radius: 5px; 
  width: 300px;
  height: 200px;
  display: block;
  padding: inherit;
  margin: auto;
}

.titulo {
  color: white;
  font-weight: 800;
  font-size: 2rem;
  padding-left: 16px;
}

.descriptionProjecto {
  color: var(--color-text);
  margin: 1rem;
}

span {
  border: 1px solid var(--primary-accent);
  border-radius: 50px;
  background-color: var(--primary-accent);
  font-weight: 900;
  color: rgba(46, 15, 226, 0.822);
  margin: 5px;
  padding: 5px;
}
text:hover {
  cursor: pointer;
}
.codigo {
  padding: 1rem;
  justify-items: center;
}

.verCodigo {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: 1px solid var(--typography-muted);
  width: 350px;
  background: var(--typography-muted);
  border-radius: 10px;
  font-size: 19px;
  font-weight: 900;
  color: var(--neutral-light);
}

.LM {
  width: 450px;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: auto;
}
