h3 {
  padding: 2rem;
}
a {
  color: var(--color-text);
  border: 1px solid var(--color-text);
  margin: 6px;
  padding: 5px;
  margin-bottom: 2rem;
  border-radius: 8px;
  background: #14212c;
}

.lenguajes{
  text-align: center;
  margin-bottom: 3rem;
}

a:hover {
  color: var(--neutral-light);
  padding: 12px;
  transition: 0.5s;
  background: transparent;
  cursor: pointer;
}


