h3 {
  padding: 2rem;
}
.lenguajes a {
  color: var(--color-text);
  border: 1px solid var(--color-text);
  margin: 6px;
  padding: 5px;
  margin-bottom: 2rem;
  border-radius: 8px;
  background: #14212c;
  transition-duration: 800ms;
}

.lenguajes{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.lenguajes a:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.1);
}


