---
import "../styles/estilos.css";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>RIGR</title>
  </head>
  <body>
    <slot/>
  </body>
  <footer>&copy; 2026 RIGR. Todos los derechos reservados.</footer>
</html>
