---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Programador de paginas web y moviles en Puerto Vallarta, Jalisco</title>
  </head>
  <body>
    <slot/>
  </body>
  <footer style="margin: 2rem; text-align: center;">&copy; 2026. Todos los derechos reservados.</footer>
</html>
