:root {
  --neutro-dark: #101922;
  --primary-accent: #137fec;
  --neutral-light: #f6f7f8;
  --typography-main: #111827;
  --color-text: #a9acb3;
  --typography-muted: #6B7280;

}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--neutro-dark);


  h3 {
    color: var(--neutral-light);
    text-align: center;
    padding-top: 20px;
  }
}

footer{
  color: var(--neutral-light);
}
