:root {
  --neutro-dark: #000000;
  --primary-accent: #137fec;
  --neutral-light: #f6f7f8;
  --typography-main: #111827;
  --color-text: #a9acb3;
  --typography-muted: #6B7280;
  --bottomColor: #4369FF;
  --strongColor: #4CD6FF;
  --black-light: #1C1B1C;
  --line: #00677F;
  --text-white-light: #B8C3FF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--neutro-dark);
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

footer{
  color: var(--neutral-light);
}
