h3 {
  padding: 2rem;
}
.lenguajes a {
  color: var(--color-text);
  border: 1px solid var(--color-text);
  margin: 6px;
  padding: 5px;
  margin-bottom: 2rem;
  border-radius: 8px;
  background: #14212c;
  transition-duration: 800ms;
}

.lenguajes{
  display: grid;
  justify-content: center;
  margin-bottom: 3rem;
  grid-template-columns: repeat(3, 100px);
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.lenguajes a:hover{
  color: white;
  transform: scale(1.1);
}


