---
import style from "../../UI/styles/sobreMi.module.css"
---

<img src="/img/me.jpeg" alt="photoMe" class={style.me}/>
    <h2 class={style.nombre}>Ricardo Garcia</h2>
    <p class={style.presentacion}>
      Que tal, soy egresado del Tecnologico Superior de Jalisco y tengo
      demasiada hambre de conocimiento y sed de aprender nuevas tecnologias, me
      encanta el desarollo web, movil y estoy en un curso para un certificado en
      cisco de ciberseguridad ya que es mi pasion
    </p> 
    <p class={style.Ubicacion}>Puerto Vallarta, Jalisco</p>