---
import GitHub from "../src/components/icons/GitHub.astro";
import Linkelin from "../src/components/icons/Linkelin.astro";
---

<div class="MediaContact">
  <div>
    <GitHub/>
    <Linkelin/>
  </div>
</div>


