---
import GitHub from "../src/components/icons/GitHub.astro";
import Linkelin from "../src/components/icons/Linkelin.astro";
import styles from "../UI/styles/SocialContact.module.css"
---

<div class={styles.container}>
    <GitHub/>
    <Linkelin/>
</div>


