---
import styles from '../../styles/UI/header.module.css'
---

<header class={styles.encabezado}>
    <h1>RIGR</h1>
    <nav class={styles.navigation}>
        <span>ABOUT</span>
        <span>PROJECTS</span>
        <span>SKILL</span>
        <span>EXPERIENCE</span>
        <span>CONTACT</span>
    </nav>
</header>
