---
import GitHub from "../icons/GitHub.astro";
import Linkelin from "../icons/Linkelin.astro";
import styles from "../UI/styles/SocialContact.module.css"
---

<div class={styles.container}>
    <a href="https://github.com/SCORP1ION"><GitHub/></a>
    <a href="https://www.linkedin.com/in/ricardo-garcia-435766396?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><Linkelin/></a>
</div>


