---
import style from "../../styles/components/tecnologies.module.css";

const skill = [
  "JavaScript",
  "C++",
  "Astro",
  "HTML5",
  "Flutter",
  "React Navite",
  "React",
  "CSS",
];
---

<div>
  <h3>SKILLS</h3>
</div>
<div class={style.lenguajes}>
  {
    skill.map((skills) => (
      <a>{skills}</a>
    ))
  }
</div>
